// compress: true
@import url('//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css');
@import url('var.less');



#header-site{
    background: @sombre;
    padding-top : 1px;
    color : @claire;
    h1{
        
    }
    a{
        color: @claire;
        text-decoration: none;
    }
    
    .slogan{
        margin: 1em 2em;
    }
}